/* CSS file */

body {
  background: #ccc;
  color: #333;
}

div {
  width: 900px;
  margin: 0 auto; 
}

h1 {
  font-family: Georgia;
  font-weight: bold;
}

h2 {
  font-family: Helvetica;
  font-style: italic;
  color: #666;
}

h3 {
  font-family: Georgia;
}

figure, p {
  display: inline-block;
}

figure {
  width: 200px;
}

p {
  width: auto;
  text-align: top;
  vertical-align: top;
  font-family: Helvetica;
}
